/* App.css */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url(trip.jpeg);
  background-size: cover;
}
/* Header styles */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: #8a2be2; /* Purple color for company name */
}

.header-divider {
  width: 100%;
  height: 2px;
  background-color: #8a2be2; /* Purple color for divider line */
  margin: 10px 0 20px; /* Adjust margin as needed */
}

.App {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(114, 174, 248, 0.815);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(185, 11, 243);
}
h2{
  text-align: center;
  margin-bottom: 15px;
  color: black;
}

/* Task input form */
form {
  margin-bottom: 20px;
  display: flex;
}

form input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

form button {
  padding: 10px 20px;
  background-color: #32e1e4;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #2ad232;
}

/* Task list */
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #e9e2e2;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px;
  transition: box-shadow 0.5s ease, transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(202, 10, 10, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item:hover {
  box-shadow: 0px 8px 16px red;
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.9);
}

.task-item-content {
  flex: 1;
}

.task-details {
  margin-bottom: 8px;
}

.task-title {
  font-weight: bold;
}

.task-description {
  color: #666666;
  transition: color 0.3s ease;
}

.task-description:hover {
  color: #000000; /* Change text color on hover */
}

.task-date {
  color: #333333;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: red;
}

button {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.no-task {
  padding: 12px;
  text-align: center;
  font-style: italic;
  color: #bd2130;
}